$orange: #fd962f;
$light-orange: #ffcc99;
$dark-orange: #ff6600;

$blue: #619cd6; // darkblue -> blue
$light-blue: #afcff6;  // blue -> lightblue
$lighter-blue: #d7e6fd; // lightblue -> lighter blue
$dark-blue: #123577; // darkestblue -> darkblue

$red: rgb(175, 0, 0);
