@import 'colors';

@mixin link-style($link-color: $dark-blue) {
  color: $link-color;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

@mixin item-count-descriptor {
  font-weight: 600;
  margin-bottom: 5px;

  .count {
    color: $red;
    font-weight: 400;
  }
}

@mixin content-box-border {
  border: 2px solid $blue;
}