@import 'colors';

@mixin link-style {
  color: $darkest-blue;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

@mixin item-count-descriptor {
  font-weight: 600;

  .count {
    color: $red;
    font-weight: 400;
  }
}

@mixin content-box-border {
  border: 2px solid $dark-blue;
}