@import 'theme';

.comments {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.comment {
  display: flex;
  flex-direction: row;
  gap: 2px;
  overflow-wrap: anywhere;
}

.count {
  color: $red;
  font-weight: 600;
}

.author {
  background-color: #fd962f;
  flex: 0 0 30%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.authorAvatar {
  width: 70%;
}

.authorName {
  display: inline-block;
  padding: 0 5px 2px;
  @include link-style;
}

.bodyContainer {
  background-color: #f9d7b4;
  flex: auto;
  padding: 4px;

  a {
    @include link-style;
  }
}

.timeStamp {
  font-weight: bold;
  margin-bottom: 5px;
}