@import 'colors';

@mixin header-style($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
  font-weight: 600;
  padding-left: 15px;
  padding-bottom: 2px;
}

.boxed {
  > .header {
    @include header-style(white, $blue);
  }

  border: 2px solid $blue;
}

.noBox {
  > .header {
    @include header-style($dark-orange, $light-orange);
  }
}

.mainContent {
  padding: 4px;
}