@import 'colors';

.box {
  border: 2px solid $dark-blue;
}

.boxHeader {
  color: white;
  background-color: $dark-blue;
}

.sectionHeader {
  color: $dark-orange;
  background-color: $light-orange;
}

.boxHeader,
.sectionHeader {
  font-weight: 600;
  padding-left: 15px;
}

.mainContent {
  padding: 4px;
}