@import 'colors';
@import 'mixins';

.topFriends {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 15px;
  row-gap: 20px
}

.topFriend {
  width: 160px;
  text-align: center;
}

.topFriendLink {
  @include link-style;
}

.countDescriptor {
  @include item-count-descriptor;
}

.username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.friendAvatar {
  width: 100%;
  border: 1px solid $darkest-blue;
}

.viewAllFriendsContainer {
  text-align: right;
  padding: 20px 0 0;
}

.viewFriendsLink {
  @include link-style($red);
}