.profileSummary {
  display: flex;
}

.basicInfo {
  margin-top: 60px;
  margin-left: 15px;
}


.username {
  font-size: 20px;
  font-weight: bold;
}

.location {
  font-size: 14px;
}

.userStatus {
  position: relative;
  bottom: 0;
}