.profileSummary {
  //display: flex;
  //position: relative;
}

.username {
  font-size: 20px;
  font-weight: bold;
}


.mainContent {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  gap: 7px;
}

.realName {
  overflow-wrap: anywhere;
}

.userDescription {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.location {
  font-size: 14px;
}

.userStatus {
  position: absolute;
  bottom: 10px;
}