.profileContainer {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin: 20px auto;
  width: 60%;
}

.profileContentLeft {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profileContentRight {
  width: 50%;
}