@import 'theme';

.group {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin: 4px;
  min-height: 64px;

}

.groupDescription {
  background-color: $blue;
  padding: 5px;
  overflow-wrap: break-word;
  width: 80%;
}

.name {
  @include link-style;
}

.memberCount {
  font-size: 14px;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  background-color: $light-blue;
}

.avatar {
  width: 85%;
}
