.userLinks {
  border: 2px solid black;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: darkblue;
  }
}


.linksHeader {
  color: white;
  background-color: #619cd6;
  border-bottom: 2px solid black;
}